
body{
  width:100%;
  height:100%;
  margin:0;
}

h2{
  margin-bottom : 10px;
}



a:link {
    color: ##006a86;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: ##006a86;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}


img {
  max-width: 100%;
}



#title{
}


#storyDiv{
  position: absolute;

  width: 35%;
  height: 100%;
  right: 0;
  top: 0;

  background-color: rgba(255, 255, 255, 0.5);

  padding: 20px;
  overflow: scroll;

}


#fulltext{
  position: absolute;
  width: 35%;
  height: calc(100% - 200px);
  right: 0;
  top: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  overflow: scroll;

  text-align: justify;
  


}

#storyHeader{
  z-index: 10;
  position: absolute;
  min-height: 200px;
  width: 35%;
  right: 0;
  top: 0;
  padding: 20px;
}


#coverlightener{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 0;
}


#headerContent{
  position: absolute;
  padding-left: 20px;

  width: 100%;
  height: 100%;
  right: 0;
  top: 0;

  z-index: 10;
}

.headTitle{
  color: #000;
  margin: 40 0 10 0;
  font-size: 50px;
}


.headSubtitle{
  color: #000;
  margin: 0 0 5 0;
  font-size: 16px;
}

.textInfo{
  color: #000;
  margin: 20 0 5 0;
  font-size: 12px;
}

#map{

  width:100%;
  height:100%;

}


.grayDiv{
  width : 400px;
  margin-left : auto;
  margin-right : auto;
  padding : 30px;


  background-color:#AAA;

}

.margin-10{
    margin-top : 10px;
}

.displayButton{
  margin-top : 20px;
  width : 100px;
  height : 35px;

}
